(
    id: "01M074ZDATW1F5051P3A02Z21A",
    name: "test",
    description: "A test RON",
    books: [
        (
            id: "01M074ZDAT6CPYT5D0Y6GX1TY6",
            name: "animal",
            description: "The book about animals",
            entries: [
                (
                    id: "01M074ZDATZTWSMMRSD4XWPPVQ",
                    key: "cow",
                    value: "牛",
                    tip: "It eats grass",
                ),
                (
                    id: "01M074ZDATJEA7N7QKV8A91MA9",
                    key: "frog",
                    value: "青蛙",
                    tip: "It eats flies",
                ),
            ],
        ),
        (
            id: "01M074ZDATRK7V9S79R6DKNCG2",
            name: "Food",
            description: "The book about food",
            entries: [
                (
                    id: "01M074ZDATB6GZX1JTAH84A27X",
                    key: "apple",
                    value: "苹果",
                    tip: "The fruit that keeps doctors away",
                ),
                (
                    id: "01M074ZDATJNPFGSZYKP6SVMEG",
                    key: "banana",
                    value: "香蕉",
                    tip: "The yellow fruit",
                ),
            ],
        ),
    ],
)